.lost-dog-inside {
  h4 {
    margin: 59px 0px 100px 0px;
  }
}

.col-left {
  border: 1px solid #D4D4D4;
  //   height: 475px;
  .nopath-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/NoPath\ -\ Copy\ \(13\).png");
    height: 475px;
    width: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.col-right {
  padding-left: 28px !important;
  .col-right-text {
    margin-top: 50px;
    h5 {
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
    }
  }
}
.images-box-left {
  img {
    width: 156px;
    margin-top: 30px;
  }
  .yelow-button {
    width: 20px;
    background-color: #fdb523;
    right: 0px;
    height: 125px;
    margin-top: 30px;
  }
  .triangle-right {
    width: 0;
    height: 15px;
    border-top: 7px solid transparent;
    border-left: 10px solid white;
    border-bottom: 10px solid transparent;
  }
}
.fb-box-right {
  padding-left: 28px !important;
}
.row-adress {
  padding: 50px 0px 50px 0px;
}
.blu-box {
  background-color: #4267b2;
  width: 90px;
  height: 29px;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  margin-top: 30px;

  .fb {
    border: 1px solid white;
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }
  .share {
    h6 {
      font-size: 12px;
      padding: 5px;
      margin: 0px;
    }
  }
}
.two-icon{
  margin-left: 100px;
}
