.lost-dog-inside {
  h4 {
    margin: 59px 0px 196px 0px;
  }
}

.col-left {
  border: 1px solid #70705463;
  //   height: 475px;
  .nopath-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/NoPath\ -\ Copy\ \(13\).png");
    height: 475px;
    width: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.col-right {
  .col-right-text {
    margin-top: 50px;
    h5 {
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
    }
  }
}
.images-box {
  img {
    width: 156px;
    margin-top: 30px;
  }
  .fb-box {
    .fb {
    }
  }
}
.row-adress {
  padding: 50px 0px 50px 0px;
}
.blu-box {
  background-color: #4267b2;
  width: 90px;
  height: 29px;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  .fb {
    border: 1px solid white;
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }
  .share {
    h6 {
      font-size: 12px;
      padding: 5px;
      margin: 0px;
    }
  }
}
