.dogbook {
  border-bottom: 1px solid #707070;
}
// lost-dogs
.lost-dogs {
  .two-box {
    margin: 50px 0px 50px 0px;
    .title {
      margin: 60px 0px 60px 0px;
      font-size: 25px;
    }
    .search-box {
      .left-box img {
        height: 29px;
      }
      .right-box {
        width: 270px;
        height: 30px;
        font-size: 10px;
        -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
        box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &:after {
          content: "";
          background-image: url("../images/search.png");
          color: #000 !important;
          height: 16px;
          width: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 5px;
        }
      }
    }
  }
}
.empty-box {
  -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .white-box {
    height: 100%;
    .yellow-box {
      width: 80px;
      height: 80px;
      background: #fdb523;
      border-radius: 40px;

      .fas {
        color: #fff;
        font-size: 30px;
      }
    }
  }
}
.footer-section {
  border-top: 1px solid #707070;
  padding: 40px 0px 40px 0px;
  margin: 0px;
}
