RESET CSS
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  text-decoration: none; }

* {
  box-sizing: border-box; }

input:focus {
  outline: none !important; }

.no-focus-outline a:focus,
.no-focus-outline input:focus {
  outline: none !important; }

body,
html {
  height: 100%; }

.dogbook {
  height: 55px; }
  .dogbook .fas {
    font-size: 17px;
    color: #707070; }
  .dogbook .fa {
    font-size: 17px;
    width: 30px;
    color: #707070; }
  .dogbook h3 {
    color: #707070; }

.cardbox {
  box-shadow: 0 1.5px 12px rgba(0, 0, 0, 0.03); }

.slider .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 20px !important;
  border-top: 0px;
  border-bottom: 0px;
  color: #ff5e20; }

.slider .bg-text {
  top: 0px;
  z-index: 1;
  margin-left: -25%; }

.slider .background {
  height: 100%;
  width: 100%;
  top: 0px;
  opacity: 0.3;
  background: #707070; }

.slider .btn {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transform: rotate(45deg); }

.slider .btn i {
  transform: rotate(-45deg); }

.slider .control {
  width: 5%; }

.slider .line {
  width: 20%;
  height: 4px;
  background-color: #ff5e20; }

.about-section .background-blu {
  width: 100%;
  height: 100%;
  background: #00ffff;
  opacity: 0.05; }

.about-section .content {
  padding-bottom: 34px; }

.about-section .about-the-project {
  width: 100%; }

.about-section h3 {
  font-size: 25px;
  color: #707070;
  margin-top: 46px;
  margin-bottom: 46px; }

.about-section h6 {
  font-size: 12px;
  color: #707070; }

.about-section .text {
  width: 70%;
  margin-bottom: 56px; }

.about-section p {
  font-size: 16px;
  color: #707070; }

.about-section .fb-messenger {
  top: 0px;
  right: 0px;
  padding: 24px; }
  .about-section .fb-messenger .fa-facebook-messenger {
    font-size: 50px;
    color: #007fff; }

.dogs h4 {
  color: #474747;
  font-size: 25px;
  margin-top: 53px;
  margin-bottom: 38px; }

.dogs .col-4 {
  width: 100%;
  padding: 0px;
  margin-right: 0px; }

.dogs .img-box {
  margin: 15px;
  cursor: pointer; }
  .dogs .img-box .overlay {
    display: none;
    border: 4px solid red;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.5;
    top: 0px; }
  .dogs .img-box:hover .overlay {
    display: block; }
  .dogs .img-box img {
    width: 100%; }
  .dogs .img-box .text-box {
    padding: 7px;
    -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .dogs .img-box .text-box a {
      color: #ff7a00; }
    .dogs .img-box .text-box .text {
      margin-top: 22px;
      margin-bottom: 28px;
      font-size: 12px; }
    .dogs .img-box .text-box p {
      margin: 0px; }
    .dogs .img-box .text-box .number {
      color: #ff7a00; }

.digital-passport .background-green {
  width: 100%;
  height: 100%;
  background: #00ffff;
  opacity: 0.05; }

.digital-passport .green-container h4 {
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 25px;
  color: #474747; }

.digital-passport .green-container .col-6 {
  padding: 0px; }
  .digital-passport .green-container .col-6 .background {
    background-image: url("../images/NoPath.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 70%;
    width: 100%; }

.digital-passport .green-container .text-li ul {
  line-height: 35px;
  font-size: 14px; }

.digital-passport .background-row {
  padding: 15px; }

.background-purple {
  width: 100%;
  height: 100%;
  background: #4464ff;
  opacity: 0.05; }

.trade h4 {
  padding-bottom: 38px;
  padding-top: 53px;
  margin: 0px; }

.bg-dog {
  margin-top: 168px; }
  .bg-dog .img-dog {
    background-image: url("../images/NoPath - Copy.png");
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 40%;
    background-size: contain;
    margin-bottom: -44px; }

.black-dog {
  background-image: url("../images/NoPath - Copy (6).png");
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40%; }

.Clinics {
  background: #f8f8f8; }
  .Clinics h4 {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #474747; }
  .Clinics .bg-clinics {
    background-image: url("../images/NoPath123.png");
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 67%; }

.footer-section {
  margin: 45px 45px; }
  .footer-section h2 {
    font-size: 30px;
    color: #474747;
    margin-bottom: 15px; }
  .footer-section .mail-number a {
    color: #474747;
    margin-left: 10px;
    font-size: 14px; }
    .footer-section .mail-number a:before {
      content: "";
      background-image: url("../images/Group 102.png");
      height: 14px;
      width: 19px;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 10px; }
  .footer-section .mail-number p {
    color: #474747;
    font-size: 14px; }
    .footer-section .mail-number p:before {
      content: "";
      background-image: url("../images/phone-call@2x.png");
      height: 19px;
      width: 19px;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      background-size: cover;
      margin-left: 10px;
      margin-right: 10px; }
  .footer-section .two-box {
    margin-top: 10px;
    line-height: 40px; }
    .footer-section .two-box .number-box span {
      margin-right: 5px; }
  .footer-section .mail-number div {
    color: #707070; }
  .footer-section .mail-number a {
    color: #707070; }

.grey-section {
  background: #d5d5d5;
  height: 30px;
  width: 100%; }
  .grey-section p {
    color: #fff;
    font-size: 12px;
    margin: 0px; }

.col-3 .icon1 {
  background-image: url("../images/Group 330@2x.png");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block; }

.col-3 .icon2 {
  background-image: url("../images/instagram (1)@2x.png");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 19px;
  display: inline-block; }

.button {
  width: 113px;
  height: 30px;
  background: #fdb523;
  border-radius: 7px;
  cursor: pointer;
  color: red;
  font-size: 12px;
  color: #fff !important;
  -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .button:before {
    content: "";
    background-image: url("../images/white-icon.png");
    color: #cccccc;
    height: 21px;
    width: 21px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px; }

.white-button {
  width: 113px;
  height: 30px;
  color: #000 !important;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff !important;
  margin-top: 33px;
  margin-bottom: 48px; }
  .white-button:before {
    content: "";
    background-image: url("../images/dog-paw.png");
    color: #000 !important;
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px; }

.flex-item {
  align-self: flex-end; }

.Yellow-color {
  background: #fdb523; }

@media only screen and (max-width: 768px) {
  .slider .control {
    width: 9%; }
  .slider .bg-text {
    margin-left: 0%; }
    .slider .bg-text h1 {
      font-size: 16px; }
    .slider .bg-text p {
      font-size: 12px; }
    .slider .bg-text .small-button {
      width: 72px;
      height: 19px;
      color: #000 !important;
      border-radius: 7px;
      cursor: pointer;
      font-size: 10px;
      -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
      box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #fff !important; }
      .slider .bg-text .small-button:before {
        content: "";
        background-image: url("../images/Path 39@2x.png");
        color: #000 !important;
        height: 12px;
        width: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 5px; }
  .about-section .fb-messenger {
    padding: 0px; }
  .about-section .about-the-project {
    text-align: center; }
    .about-section .about-the-project h3 {
      width: 100%; }
  .about-section .text {
    width: 100%; }
  .about-section a.button {
    align-self: center; }
  .box {
    margin-bottom: 0px; }
  .wh-button .justify-content-end {
    justify-content: center !important; }
  .dogs h4 {
    text-align: center; }
    .dogs h4 .box {
      margin-bottom: 0px; }
  .background-green {
    background: #ffe0d5 !important;
    opacity: 0.05; }
  .green-container h4 {
    text-align: center !important; }
  .green-container .text-li {
    margin-top: 20px; }
  .trade .h4 {
    text-align: center; }
  .clinics-row .h4 {
    text-align: center; }
  .footer-section {
    justify-content: center; }
    .footer-section .row {
      justify-content: center; }
      .footer-section .row .col-3 h2 {
        margin-bottom: 15px; }
      .footer-section .row .icon1-icon2 {
        margin-top: 15px; } }

.bg-text {
  width: 100%;
  height: 100%; }

.dogbook {
  border-bottom: 1px solid #70707070; }

.lost-dogs .two-box {
  padding: 50px 0px 25px 0px; }
  .lost-dogs .two-box img {
    height: 29px; }
  .lost-dogs .two-box .title {
    margin: 60px 0px 60px 0px;
    font-size: 25px; }
  .lost-dogs .two-box .search-box {
    padding-right: 15px; }
    .lost-dogs .two-box .search-box .right-box {
      -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
      box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0px;
      height: 30px; }
      .lost-dogs .two-box .search-box .right-box input {
        border: 0px;
        height: 30px;
        background: no-repeat; }
      .lost-dogs .two-box .search-box .right-box i {
        color: #707070; }

.empty-box {
  padding: 15px !important; }
  .empty-box .white-box {
    height: 100%;
    -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53); }
    .empty-box .white-box .yellow-box {
      width: 80px;
      height: 80px;
      background: #fdb523;
      border-radius: 40px; }
      .empty-box .white-box .yellow-box .fas {
        color: #fff;
        font-size: 30px; }

.footer-box {
  border-top: 1px solid #70707070;
  padding: 40px 0px 40px 0px;
  margin: 0px;
  padding: 0px; }

.page-item .page-link {
  border-radius: 7px;
  margin: 5px;
  line-height: 10px;
  width: 25px;
  padding: 7px;
  color: #ff7a00; }

.page-item .first {
  border: 0px; }

.page-item .page-number {
  width: 40px; }

@media only screen and (max-width: 768px) {
  .empty-box {
    height: 450px; }
  .title2 {
    justify-content: center !important;
    margin: 0px !important; }
  .messenger {
    top: 30% !important;
    z-index: 100000000000; }
  .search-boxs {
    display: none !important; }
    .search-boxs .right-box {
      display: none !important; } }

.dogs .p-box {
  padding: 0px; }

.footer {
  border-top: 0px; }

.two-box .title {
  margin-top: 0px !important; }

.two-box .right-box {
  padding: 0px;
  padding-left: 26px; }
  .two-box .right-box .input-form {
    -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px;
    height: 30px;
    width: 100%; }

.messenger {
  right: 0px;
  bottom: 20px;
  z-index: 100000; }
  .messenger h6 {
    font-size: 12px; }
  .messenger .fab {
    font-size: 50px !important;
    color: #007fff; }

.pagination {
  margin: 0px; }

.clinic .clinic-title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 25px;
  color: #474747; }

.clinic .clinic-row {
  -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.53);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 224px;
  margin: 30px 0px 30px 0px; }

.clinic .img-col {
  padding: 0px; }
  .clinic .img-col img {
    width: 100%;
    height: 224px; }

.clinic .white-col .top-box h4 {
  font-size: 20px; }

.clinic .white-col p {
  font-size: 12px;
  margin-top: 8px; }

.clinic .bottom-box .stars {
  height: 18px; }
  .clinic .bottom-box .stars .orange-star {
    background-image: url("../images/orange-star.png");
    width: 48px;
    background-size: contain;
    height: 15px; }
  .clinic .bottom-box .stars .white-star {
    background-image: url("../images/white-star.png");
    width: 80px;
    background-size: contain;
    height: 15px; }

.clinic .bottom-box .look .bg-eye {
  background-image: url("../images/eye@2x.png");
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.clinic .bottom-box .look p {
  font-size: 12px; }

.clinic .bottom-box .dog-number .bg-dog {
  background-image: url("../images/dog.png");
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px; }

.color-orange {
  color: #fdb523; }

@media screen and (max-width: 991px) {
  .clinic .bottom-box .stars {
    width: 70px; } }

.location .bg-location {
  background-image: url("../images/location.png");
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .location .bg-location p {
    font-size: 12px; }

.lost-dog-inside h4 {
  margin: 59px 0px 196px 0px; }

.col-left {
  border: 1px solid #70705463; }
  .col-left .nopath-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/NoPath - Copy (13).png");
    height: 475px;
    width: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.col-right .col-right-text {
  margin-top: 50px; }
  .col-right .col-right-text h5 {
    margin-bottom: 15px; }
  .col-right .col-right-text p {
    font-size: 12px; }

.images-box img {
  width: 156px;
  margin-top: 30px; }

.row-adress {
  padding: 50px 0px 50px 0px; }

.blu-box {
  background-color: #4267b2;
  width: 90px;
  height: 29px;
  color: white;
  font-size: 12px;
  border-radius: 5px; }
  .blu-box .fb {
    border: 1px solid white;
    height: 20px;
    width: 20px;
    border-radius: 6px; }
  .blu-box .share h6 {
    font-size: 12px;
    padding: 5px;
    margin: 0px; }
